In [1]:
## normalization

In [2]:
# First Normal Form (1NF)
# Data is stored in tables with rows that can be uniquely identified by a Primary Key.
# Data within each table is stored in individual columns in its most reduced form.
# There are no repeating groups.

In [3]:
import mysql.connector
from mysql.connector import Error
import pandas as pd

In [4]:
def create_server_connection(host_name, user_name, user_password):
    connection = None
    try:
        connection = mysql.connector.connect(
            host=host_name,
            user=user_name,
            passwd=user_password
        )
        print("MySQL Database connection successful")
    except Error as err:
        print(f"Error: '{err}'")

    return connection

In [5]:
connection = create_server_connection("localhost", "root", "root")

MySQL Database connection successful

In [6]:
def create_database(connection, query):
    cursor = connection.cursor()
    try:
        cursor.execute(query)
        print("Database created successfully")
        
    except Error as err:
        print(f" Error:'{err}'")

In [7]:
create_database_query="CREATE DATABASE  normalization"
create_database(connection,create_database_query)

 Error:'1007 (HY000): Can't create database 'normalization'; database exists'

In [8]:
def create_db_connection(host_name,user_name,user_password,db_name):
    connection = None
    try:
        connection=mysql.connector.connect(
        host=host_name,
        user=user_name,
        passwd=user_password,
        database=db_name
        )
        print("MySQL Database connection successful")
    except Error as err:
        print(f"Error:'{err}'")
    return connection

In [9]:
def execute_query(connection,query):
    cursor = connection.cursor()
    try:
        cursor.execute(query)
        connection.commit()
        print("Query successful")
    except Error as err:
        print(f"Error:'{err}'")

In [10]:
create_employees_table = """
CREATE TABLE Employees(
EMP_ID INT PRIMARY KEY,
EMP_NAME VARCHAR(50),
EMP_PHONE INT (50),
EMP_STATE VARCHAR(30)
)
"""
connection=create_db_connection("localhost","root","root","normalization")
execute_query(connection,create_employees_table)

MySQL Database connection successful
Error:'1050 (42S01): Table 'employees' already exists'

In [11]:
pop_employees = """
INSERT INTO Employees VALUES
(1,  'James','491776849','M.P'),
(2, 'Stefanie','491937878', 'U.P'); 

"""

connection = create_db_connection("localhost", "root", "root", "normalization")
execute_query(connection,pop_employees)

MySQL Database connection successful
Query successful

In [14]:
#First Normal Form (1NF)
# Data is stored in tables with rows that can be uniquely identified by a Primary Key.
# Data within each table is stored in individual columns in its most reduced form.
# There are no repeating groups.

In [16]:
from IPython.display import Image

# normalizationinsql_2_img

In [20]:
Image(url='https://www.simplilearn.com/ice9/free_resources_article_thumb/normalizationinsql_2.png')

In [21]:
# In the studentsrecord table, you can see that the course column has two values. 
# Thus it does not follow the First Normal Form. Now,
# if you use the First Normal Form to the above table, you get the below table as a result.

In [23]:
Image(url='https://www.simplilearn.com/ice9/free_resources_article_thumb/normalizationinsql_3.png')

In [24]:
# Second Normal Form (2NF)
# All the rules from 1NF must be satisfied.
# Only those data that relates to a tableâ€™s primary key is stored in each table.

In [25]:
# Candidate Key
# A candidate key is a set of one or more columns that can identify a record
# # uniquely in a table, and YOU can use each candidate key as a Primary Key.

In [26]:
Image(url='https://www.simplilearn.com/ice9/free_resources_article_thumb/normalizationinsql_13.png')

In [27]:
# The first condition for the table to be in Second Normal Form is that
# the table has to be in First Normal Form. The table should not possess
# partial dependency. The partial dependency here means
# the proper subset of the candidate key should give a non-prime attribute.

In [29]:
Image(url='https://www.simplilearn.com/ice9/free_resources_article_thumb/normalizationinsql_4.png')

In [30]:
# he Location table possesses a composite primary key cust_id, storeid. 
# The non-key attribute is store_location. In this case, store_location
# only depends on storeid, which is a part of the primary key.
# Hence, this table does not fulfill the second normal form.

In [36]:
Image(url='https://www.simplilearn.com/ice9/free_resources_article_thumb/normalizationinsql_5.png')

In [37]:
Image(url='https://www.simplilearn.com/ice9/free_resources_article_thumb/normalizationinsql_6.png')

In [38]:
# Third Normal Form (3NF)
# All the rules from 2NF must be satisfied.
# There should be no intra-table dependencies between the columns in each table.

In [39]:
# Third Normal Form (3NF)
# The first condition for the table to be in Third Normal Form is that the table should be in the Second Normal Form.
# The second condition is that there should be no transitive dependency 
# for non-prime attributes, which indicates that non-prime attributes (which are not a part of the candidate key) should not depend on other non-prime attributes in a table. Therefore, a transitive dependency is a functional dependency in which A â†’ C (A determines C) indirectly, 
# because of A â†’ B and B â†’ C (where it is not the case that B â†’ A).

In [40]:
Image(url='https://www.simplilearn.com/ice9/free_resources_article_thumb/normalizationinsql_7.png')

In [42]:
Image(url='https://www.simplilearn.com/ice9/free_resources_article_thumb/normalizationinsql_8.png')

In [43]:
Image(url='https://www.simplilearn.com/ice9/free_resources_article_thumb/normalizationinsql_9.png')

# Boyce CoddNormal Form (BCNF)

In [44]:
# The subject table follows these conditions:

# Each student can enroll in multiple subjects.
# Multiple professors can teach a particular subject.
# For each subject, it assigns a professor to the student.
# In the above table, student_id and subject together form the primary key because using student_id and subject; you can determine all the table columns.

In [46]:
Image(url='https://www.simplilearn.com/ice9/free_resources_article_thumb/normalizationinsql_11.png')

In [47]:
Image(url='https://www.simplilearn.com/ice9/free_resources_article_thumb/normalizationinsql_12.png')